<div class="custom-banner"  style="background-color: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0, 0.8)); background-image:url('https://images.unsplash.com/photo-1547495706-7485ef02d47d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')">
  <h1><%= @cocktail.name %></h1>

</div>

<div class="container">
  <h2>Ingrédients</h2>
  <ul>
    <% @cocktail.doses.each do | dose |%>
    <div class="ing-list">
      <p>
        <div class="text">
          <%= "#{dose.description} de #{dose.ingredient.name}"%>
        </div>
          <%=link_to dose_path(dose), method: :delete,data: { confirm: "Are you sure?" }, action: 'go' do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
      </p>
    </div>
    <% end %>
  </ul>


  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: 'bouton_custom' %>

</div>





