<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-1 border-bottom">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "petit-cocktail.png", alt: "verre", title: "Go back home"%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
    <h4 class="font-italic mb-0">L'alcool est à consommer avec modération</h4>
    </ul>
  </div>
</div>
