.bouton_custom {
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  background: linear-gradient(#c78167, #6d4b39);
  transition: background 1s ease;
  &:hover{
    background: linear-gradient( #6d4b39, #c78167);
    color: white;
  }
}
