.bouton_custom {
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  background: rgba(16, 6, 6, 0.5);
  box-shadow: 0 0 2px 1px rgba(0,0,0, 0.4);
  transition: background .3s ease;
  &:hover{
    background: rgba(5, 0, 0, 0.8);
    color: white;
  }
}

