.card-custom {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: #eee;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.4);

  h3 {
    color: black;
  }

  &:hover {
    background-color: #ddd;
  }
}

