.card-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 14px;
  margin: 14px 0;
  height: 180px;
  background-color: #eee;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
  background-size: cover;

  h3 {
    color: #fff;
    font-size: 20px;
  }

  &:hover {
    background-color: #ddd;
  }
}

