.navbar-lewagon {
  justify-content: space-between;
  background-color: #F4F4F4;

  h2:hover {
    font-weight: bold;
  }

  h2 {
    font-size: 14px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;

  &:hover {
    // box-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
    animation: rotating 1s alternate;
  }
}


@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}
