// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 24px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 350;
  margin: 20px 0 10px 0;
  color: #222
}



ul {
  margin-bottom: 40px;
}


