// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  color: #222
}


.ing-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0;

  p {
    font-size: 26 px;
  }

  .text {
    flex-grow: 1;
  }
}

ul {
  margin-bottom: 40px;
}

